team11/flows.json
[
    {
        "id": "09e5639e281d28a7",
        "type": "tab",
        "label": "team11_iot_project",
        "disabled": false,
        "info": "\n",
        "env": []
    },
    {
        "id": "1d572b59d1b53b36",
        "type": "subflow",
        "name": "資料庫儲存",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 180,
                "wires": [
                    {
                        "id": "f0fbf095dc201155"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "10f62d4915f7f640",
        "type": "subflow",
        "name": "ui介面(資料圖像化)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 320,
                "wires": [
                    {
                        "id": "11245c90a10a25bf"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "52991993b60cd835",
        "type": "subflow",
        "name": "感測器偵測--時程控制",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 420,
                "y": 120,
                "wires": [
                    {
                        "id": "74347eacdecfd3db",
                        "port": 0
                    },
                    {
                        "id": "71fa63f6154c431a",
                        "port": 0
                    },
                    {
                        "id": "59fbd1e8863440d2",
                        "port": 0
                    },
                    {
                        "id": "9cd717a1bd111f74",
                        "port": 0
                    },
                    {
                        "id": "241a23c88e3a2448",
                        "port": 0
                    },
                    {
                        "id": "7aa211a678e4df02",
                        "port": 0
                    },
                    {
                        "id": "f7b9ba252b59bedd",
                        "port": 0
                    },
                    {
                        "id": "23bffceadabd74d1",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "d5148d43705bd042",
        "type": "subflow",
        "name": "ui介面(開關控制&設定範圍)",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 410,
                "y": 40,
                "wires": [
                    {
                        "id": "dd3d2418f242eaaf",
                        "port": 0
                    }
                ]
            },
            {
                "x": 410,
                "y": 100,
                "wires": [
                    {
                        "id": "a677382e3e95c87d",
                        "port": 0
                    }
                ]
            },
            {
                "x": 410,
                "y": 160,
                "wires": [
                    {
                        "id": "97d8c903ff444818",
                        "port": 0
                    }
                ]
            },
            {
                "x": 410,
                "y": 260,
                "wires": [
                    {
                        "id": "578563d113495983",
                        "port": 0
                    }
                ]
            },
            {
                "x": 870,
                "y": 260,
                "wires": [
                    {
                        "id": "91b6a59e631a8fdc",
                        "port": 0
                    },
                    {
                        "id": "97ceb67103bfef3f",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "outputLabels": [
            "light",
            "feed",
            "pump",
            "temp_range",
            "turb_range"
        ]
    },
    {
        "id": "3e11bccd.52fd44",
        "type": "mqtt-broker",
        "name": "內網ip",
        "broker": "192.168.251.21",
        "port": "18883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "624e7406dad0fbc1",
        "type": "mqtt-broker",
        "name": "外網ip",
        "broker": "140.127.196.119",
        "port": "18311",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b3edb09988cfe770",
        "type": "mqtt-broker",
        "name": "test",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e51943481fd350d0",
        "type": "MySQLdatabase",
        "name": "smart_fish",
        "host": "passing.lazpig.info",
        "port": "3306",
        "db": "smart_fish",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "d211cbb4dc9a591b",
        "type": "ui_tab",
        "name": "iot",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "970ac8ddda11480b",
        "type": "ui_group",
        "name": "set",
        "tab": "d211cbb4dc9a591b",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2438d0feb13a3570",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "30b6483d05fcb98e",
        "type": "ui_spacer",
        "z": "10f62d4915f7f640",
        "name": "spacer",
        "group": "970ac8ddda11480b",
        "order": 10,
        "width": 9,
        "height": 1
    },
    {
        "id": "aae208ca17a3c890",
        "type": "ui_spacer",
        "z": "10f62d4915f7f640",
        "name": "spacer",
        "group": "970ac8ddda11480b",
        "order": 21,
        "width": 5,
        "height": 1
    },
    {
        "id": "d9584eb0e362bcbb",
        "type": "ui_spacer",
        "z": "10f62d4915f7f640",
        "name": "spacer",
        "group": "970ac8ddda11480b",
        "order": 23,
        "width": 5,
        "height": 1
    },
    {
        "id": "f2ce8621fadac501",
        "type": "ui_spacer",
        "z": "10f62d4915f7f640",
        "name": "spacer",
        "group": "970ac8ddda11480b",
        "order": 24,
        "width": 5,
        "height": 1
    },
    {
        "id": "20c1225e9e5739d7",
        "type": "ui_spacer",
        "z": "10f62d4915f7f640",
        "name": "spacer",
        "group": "970ac8ddda11480b",
        "order": 25,
        "width": 9,
        "height": 1
    },
    {
        "id": "a92022a41a01b1df",
        "type": "ui_spacer",
        "z": "10f62d4915f7f640",
        "name": "spacer",
        "group": "970ac8ddda11480b",
        "order": 26,
        "width": 9,
        "height": 1
    },
    {
        "id": "725a53adf43bf105",
        "type": "ui_spacer",
        "z": "10f62d4915f7f640",
        "name": "spacer",
        "group": "970ac8ddda11480b",
        "order": 27,
        "width": 9,
        "height": 1
    },
    {
        "id": "838db8a5ab499162",
        "type": "function",
        "z": "1d572b59d1b53b36",
        "name": "input_Database",
        "func": "var level = msg.level;\nvar data = msg.myymd;\nvar time = msg.mytimes;\n\n// 合併字串\ndata = data + \" \" + time;\n\nmsg.topic  = \"INSERT INTO l_data (data, level) VALUES (\" + data + \" , \" + level + \" )\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 180,
        "wires": [
            [
                "b293d0cc997e0c20"
            ]
        ]
    },
    {
        "id": "f872de09c5bbf694",
        "type": "function",
        "z": "1d572b59d1b53b36",
        "name": "input_Database",
        "func": "var temp = msg.temp;\nvar turb = msg.turb;\nvar data = msg.myymd;\nvar time = msg.mytimes;\n\n// 合併字串\ndata = data + \" \" + time;\n\nmsg.topic  = \"INSERT INTO base_data (data, tu, te) VALUES (\"+data+\", \"+temp+\" , \"+turb+\")\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 140,
        "wires": [
            [
                "971e488d560ab6f1"
            ]
        ]
    },
    {
        "id": "971e488d560ab6f1",
        "type": "mysql",
        "z": "1d572b59d1b53b36",
        "mydb": "",
        "name": "",
        "x": 830,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f0fbf095dc201155",
        "type": "simpletime",
        "z": "1d572b59d1b53b36",
        "name": "data",
        "mydate": false,
        "myymd": true,
        "myyear": false,
        "mymonth": false,
        "mymonthn": false,
        "mydom": false,
        "mydoy": false,
        "myday": false,
        "myhourpm": false,
        "myhour": false,
        "mytime": false,
        "mytimes": true,
        "myminute": false,
        "myminutes": false,
        "mysecond": false,
        "mymillis": false,
        "myepoch": false,
        "myrawdate": false,
        "mypm": false,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "284aab5e796dc7e5"
            ]
        ]
    },
    {
        "id": "b293d0cc997e0c20",
        "type": "mysql",
        "z": "1d572b59d1b53b36",
        "mydb": "",
        "name": "",
        "x": 830,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "284aab5e796dc7e5",
        "type": "switch",
        "z": "1d572b59d1b53b36",
        "name": "filter",
        "property": "class",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "f872de09c5bbf694"
            ],
            [
                "838db8a5ab499162"
            ]
        ]
    },
    {
        "id": "9be7c3f10b99718d",
        "type": "function",
        "z": "1d572b59d1b53b36",
        "name": "select",
        "func": "msg.topic = \"SELECT * FROM test ORDER BY id DESC Limit 10\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d68cbc4fd28dda20",
        "type": "ui_gauge",
        "z": "10f62d4915f7f640",
        "name": "",
        "group": "970ac8ddda11480b",
        "order": 12,
        "width": 3,
        "height": 2,
        "gtype": "wave",
        "title": "",
        "label": "",
        "format": "{{msg.level}}",
        "min": 0,
        "max": "4550",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 670,
        "y": 380,
        "wires": []
    },
    {
        "id": "acdeb8e3529d69bf",
        "type": "ui_gauge",
        "z": "10f62d4915f7f640",
        "name": "",
        "group": "970ac8ddda11480b",
        "order": 11,
        "width": 3,
        "height": 2,
        "gtype": "wave",
        "title": "",
        "label": "",
        "format": "{{msg.turb}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "07f35aa14f593081",
        "type": "ui_gauge",
        "z": "10f62d4915f7f640",
        "name": "",
        "group": "970ac8ddda11480b",
        "order": 13,
        "width": 3,
        "height": 2,
        "gtype": "wave",
        "title": "",
        "label": "",
        "format": "{{msg.temp}}",
        "min": "-55",
        "max": "125",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "11245c90a10a25bf",
        "type": "switch",
        "z": "10f62d4915f7f640",
        "name": "filter",
        "property": "class",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "dd96e1b54a06bd87",
                "79b7e20f691322d9",
                "80ba6707e3fae2b2"
            ],
            [
                "cfd03cc45f7c3d13"
            ],
            [
                "d8e77506eceef5f7",
                "509a0fd51e9e6144"
            ]
        ]
    },
    {
        "id": "dd96e1b54a06bd87",
        "type": "function",
        "z": "10f62d4915f7f640",
        "name": "filter(temp)",
        "func": "var n_msg = {temp:msg.temp};\nreturn n_msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 80,
        "wires": [
            [
                "268daf75c5179bfa",
                "07f35aa14f593081"
            ]
        ]
    },
    {
        "id": "79b7e20f691322d9",
        "type": "function",
        "z": "10f62d4915f7f640",
        "name": "filter(turb)",
        "func": "var n_msg = {turb:msg.turb};\nreturn n_msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "5c1f049c190bf450",
                "acdeb8e3529d69bf"
            ]
        ]
    },
    {
        "id": "268daf75c5179bfa",
        "type": "ui_text",
        "z": "10f62d4915f7f640",
        "group": "970ac8ddda11480b",
        "order": 16,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "temp： ",
        "format": "{{msg.temp + \" ˚C\"}}",
        "layout": "row-center",
        "className": "",
        "x": 700,
        "y": 40,
        "wires": []
    },
    {
        "id": "5c1f049c190bf450",
        "type": "ui_text",
        "z": "10f62d4915f7f640",
        "group": "970ac8ddda11480b",
        "order": 14,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "turb： ",
        "format": "{{msg.turb + \" NTU\"}}",
        "layout": "row-center",
        "className": "",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "c621e12f4e2f65b1",
        "type": "ui_date_picker",
        "z": "10f62d4915f7f640",
        "name": "",
        "label": "date",
        "group": "970ac8ddda11480b",
        "order": 28,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 890,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "cfd03cc45f7c3d13",
        "type": "function",
        "z": "10f62d4915f7f640",
        "name": "filter(level)",
        "func": "var n_msg = {level:msg.level};\nreturn n_msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 380,
        "wires": [
            [
                "4b1a6867070d88a3",
                "d68cbc4fd28dda20"
            ]
        ]
    },
    {
        "id": "4b1a6867070d88a3",
        "type": "ui_text",
        "z": "10f62d4915f7f640",
        "group": "970ac8ddda11480b",
        "order": 15,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "level： ",
        "format": "{{msg.level + \" cm\"}}",
        "layout": "row-center",
        "className": "",
        "x": 670,
        "y": 340,
        "wires": []
    },
    {
        "id": "d8e77506eceef5f7",
        "type": "ui_led",
        "z": "10f62d4915f7f640",
        "order": 22,
        "group": "970ac8ddda11480b",
        "width": 4,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "3",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 450,
        "y": 440,
        "wires": []
    },
    {
        "id": "80ba6707e3fae2b2",
        "type": "function",
        "z": "10f62d4915f7f640",
        "name": "input_Database",
        "func": "var temp = msg.temp;\nvar turb = msg.turb;\nvar data = msg.myymd;\nvar time = msg.mytimes;\n\n// 合併字串\ndata = data + \" \" + time;\n\nmsg.topic  = \"INSERT INTO base_data (data, tu, te) VALUES (\"+data+\", \"+temp+\" , \"+turb+\")\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2f14ab641f807e20",
        "type": "ui_text",
        "z": "10f62d4915f7f640",
        "group": "970ac8ddda11480b",
        "order": 20,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "error: ",
        "format": "{{msg.state}}",
        "layout": "row-center",
        "className": "",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "509a0fd51e9e6144",
        "type": "function",
        "z": "10f62d4915f7f640",
        "name": "input_Database",
        "func": "if(msg.payload == '3'){\n    msg.state = \"temp&turb qusion\";\n    return msg;\n}\nif(msg.payload == '2'){\n    msg.state = \"temp qusion\";\n    return msg;\n}\nif(msg.payload == '1'){\nmsg.state = \"turb qusion\";\n    return msg;\n}\nif(msg.payload == '0'){\nmsg.state = \"no qusion\";\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 480,
        "wires": [
            [
                "2f14ab641f807e20"
            ]
        ]
    },
    {
        "id": "241a23c88e3a2448",
        "type": "inject",
        "z": "52991993b60cd835",
        "name": "水溫感測&水濁感測(12:00)",
        "props": [
            {
                "p": "flag",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "74347eacdecfd3db",
        "type": "inject",
        "z": "52991993b60cd835",
        "name": "水溫感測&水濁感測(0:00)",
        "props": [
            {
                "p": "flag",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "59fbd1e8863440d2",
        "type": "inject",
        "z": "52991993b60cd835",
        "name": "水溫感測&水濁感測(6:00)",
        "props": [
            {
                "p": "flag",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f7b9ba252b59bedd",
        "type": "inject",
        "z": "52991993b60cd835",
        "name": "水溫感測&水濁感測(18:00)",
        "props": [
            {
                "p": "flag",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 18 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "71fa63f6154c431a",
        "type": "inject",
        "z": "52991993b60cd835",
        "name": "水溫感測&水濁感測(3:00)",
        "props": [
            {
                "p": "flag",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 03 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "9cd717a1bd111f74",
        "type": "inject",
        "z": "52991993b60cd835",
        "name": "水溫感測&水濁感測(9:00)",
        "props": [
            {
                "p": "flag",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 09 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7aa211a678e4df02",
        "type": "inject",
        "z": "52991993b60cd835",
        "name": "水溫感測&水濁感測(15:00)",
        "props": [
            {
                "p": "flag",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 15 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "23bffceadabd74d1",
        "type": "inject",
        "z": "52991993b60cd835",
        "name": "水溫感測&水濁感測(21:00)",
        "props": [
            {
                "p": "flag",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 21 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "97d8c903ff444818",
        "type": "ui_switch",
        "z": "d5148d43705bd042",
        "name": "",
        "label": "pump",
        "tooltip": "",
        "group": "970ac8ddda11480b",
        "order": 18,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a677382e3e95c87d",
        "type": "ui_switch",
        "z": "d5148d43705bd042",
        "name": "",
        "label": "led",
        "tooltip": "",
        "group": "970ac8ddda11480b",
        "order": 17,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "dd3d2418f242eaaf",
        "type": "ui_switch",
        "z": "d5148d43705bd042",
        "name": "",
        "label": "feed",
        "tooltip": "",
        "group": "970ac8ddda11480b",
        "order": 19,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "91b6a59e631a8fdc",
        "type": "ui_slider",
        "z": "d5148d43705bd042",
        "name": "",
        "label": "turb_max",
        "tooltip": "",
        "group": "970ac8ddda11480b",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4550",
        "step": 1,
        "className": "",
        "x": 600,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "97ceb67103bfef3f",
        "type": "ui_slider",
        "z": "d5148d43705bd042",
        "name": "",
        "label": "turb_min",
        "tooltip": "",
        "group": "970ac8ddda11480b",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4550",
        "step": 1,
        "className": "",
        "x": 620,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "b7e710730258d168",
        "type": "ui_text",
        "z": "d5148d43705bd042",
        "group": "970ac8ddda11480b",
        "order": 1,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "0",
        "format": "",
        "layout": "row-center",
        "className": "",
        "x": 610,
        "y": 360,
        "wires": []
    },
    {
        "id": "9d4e47e7860bad81",
        "type": "ui_text",
        "z": "d5148d43705bd042",
        "group": "970ac8ddda11480b",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "4550",
        "format": "",
        "layout": "row-center",
        "className": "",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "4570caaf99532194",
        "type": "ui_text",
        "z": "d5148d43705bd042",
        "group": "970ac8ddda11480b",
        "order": 4,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "0",
        "format": "",
        "layout": "row-center",
        "className": "",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "8a9cb6c7c452c1ff",
        "type": "ui_text",
        "z": "d5148d43705bd042",
        "group": "970ac8ddda11480b",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "4550",
        "format": "",
        "layout": "row-center",
        "className": "",
        "x": 610,
        "y": 440,
        "wires": []
    },
    {
        "id": "d804130bd1757a79",
        "type": "debug",
        "z": "d5148d43705bd042",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 380,
        "wires": []
    },
    {
        "id": "578563d113495983",
        "type": "ui_slider",
        "z": "d5148d43705bd042",
        "name": "",
        "label": "temp_max",
        "tooltip": "",
        "group": "970ac8ddda11480b",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-55",
        "max": "125",
        "step": 1,
        "className": "",
        "x": 170,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "2e44b591d2d10b11",
        "type": "ui_text",
        "z": "d5148d43705bd042",
        "group": "970ac8ddda11480b",
        "order": 9,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "125",
        "format": "",
        "layout": "row-center",
        "className": "",
        "x": 150,
        "y": 300,
        "wires": []
    },
    {
        "id": "19eb8eb099b8b42f",
        "type": "ui_text",
        "z": "d5148d43705bd042",
        "group": "970ac8ddda11480b",
        "order": 7,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "-55",
        "format": "",
        "layout": "row-center",
        "className": "",
        "x": 150,
        "y": 220,
        "wires": []
    },
    {
        "id": "d4697bb5366de1d4",
        "type": "function",
        "z": "09e5639e281d28a7",
        "name": "資料庫資料查詢",
        "func": "msg.topic = \"SELECT * FROM 'test'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "643fa3eac9e632a5",
        "type": "function",
        "z": "09e5639e281d28a7",
        "name": "Setup payload",
        "func": "series = [];\ndata = [];\nlabels = [];\n\nseries.push(\"Field1\");\nlabels.push(\"Field1\");\ndata.push(msg.data);\n\nmsg.payload = [{\"series\":series, \"data\":data,\"labels\": labels}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1374.4339408874512,
        "y": 738.0935077667236,
        "wires": [
            []
        ]
    },
    {
        "id": "d6b67d17c02dd083",
        "type": "change",
        "z": "09e5639e281d28a7",
        "name": "Temp_Array",
        "rules": [
            {
                "t": "set",
                "p": "data",
                "pt": "msg",
                "to": "$.test.{\"x\":time, \"y\" : temperature}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "8bddf50aeeb4fef7",
        "type": "function",
        "z": "09e5639e281d28a7",
        "name": "Setup payload",
        "func": "series = [];\ndata = [];\nlabels = [];\n\nseries.push(\"Field1\");\nlabels.push(\"Field1\");\ndata.push(msg.data);\n\nmsg.payload = [{\"series\":series, \"data\":data,\"labels\": labels}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d5558b4677a90e6b",
        "type": "subflow:52991993b60cd835",
        "z": "09e5639e281d28a7",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "f5c823889c51c944"
            ]
        ]
    },
    {
        "id": "c1c69778f37ecfa7",
        "type": "subflow:1d572b59d1b53b36",
        "z": "09e5639e281d28a7",
        "name": "",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "39db219dded74369",
        "type": "function",
        "z": "09e5639e281d28a7",
        "name": "依據不同的topic，加入class標籤",
        "func": "if(msg.topic == \"team11/temp_turb/data\")\n    msg.class = \"1\";\nif(msg.topic == \"team11/level/data\")\n    msg.class = \"2\"\nif(msg.topic == \"team11/fish_tank_state/info\")\n    msg.class = \"3\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 160,
        "wires": [
            [
                "c1c69778f37ecfa7",
                "b2a0c975c431be9a"
            ]
        ]
    },
    {
        "id": "b2a0c975c431be9a",
        "type": "subflow:10f62d4915f7f640",
        "z": "09e5639e281d28a7",
        "name": "",
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "76c3071b8087c53c",
        "type": "inject",
        "z": "09e5639e281d28a7",
        "name": "",
        "props": [
            {
                "p": "temp",
                "v": "12",
                "vt": "str"
            },
            {
                "p": "turb",
                "v": "15",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "team11/temp_turb/data",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "39db219dded74369"
            ]
        ]
    },
    {
        "id": "567d651d43ca4d4b",
        "type": "mqtt in",
        "z": "09e5639e281d28a7",
        "name": "",
        "topic": "team11/temp_turb/data",
        "qos": "0",
        "datatype": "auto",
        "broker": "b3edb09988cfe770",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "39db219dded74369"
            ]
        ]
    },
    {
        "id": "bc191ca3389e111b",
        "type": "mqtt in",
        "z": "09e5639e281d28a7",
        "name": "",
        "topic": "team11/Level/data",
        "qos": "0",
        "datatype": "auto",
        "broker": "b3edb09988cfe770",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "39db219dded74369"
            ]
        ]
    },
    {
        "id": "ef5e438ce98c778f",
        "type": "change",
        "z": "09e5639e281d28a7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "2a372910d49092ea",
        "type": "inject",
        "z": "09e5639e281d28a7",
        "name": "",
        "props": [
            {
                "p": "level",
                "v": "17",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "team11/level/data",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "39db219dded74369"
            ]
        ]
    },
    {
        "id": "cfdef7f018b40823",
        "type": "subflow:d5148d43705bd042",
        "z": "09e5639e281d28a7",
        "name": "",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "b345026de537c22b"
            ],
            [
                "bd273f5c2122084c"
            ],
            [
                "dd08769468e732e7"
            ],
            [
                "e1291e050ce10710"
            ],
            [
                "eb1fd926f263c4ca"
            ]
        ]
    },
    {
        "id": "b345026de537c22b",
        "type": "mqtt out",
        "z": "09e5639e281d28a7",
        "name": "",
        "topic": "team11/light/switch",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b3edb09988cfe770",
        "x": 470,
        "y": 360,
        "wires": []
    },
    {
        "id": "bd273f5c2122084c",
        "type": "mqtt out",
        "z": "09e5639e281d28a7",
        "name": "",
        "topic": "team11/feed/switch",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b3edb09988cfe770",
        "x": 470,
        "y": 400,
        "wires": []
    },
    {
        "id": "dd08769468e732e7",
        "type": "mqtt out",
        "z": "09e5639e281d28a7",
        "name": "",
        "topic": "team11/pump/switch",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b3edb09988cfe770",
        "x": 480,
        "y": 440,
        "wires": []
    },
    {
        "id": "eb1fd926f263c4ca",
        "type": "mqtt out",
        "z": "09e5639e281d28a7",
        "name": "",
        "topic": "team11/turb/set_range",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b3edb09988cfe770",
        "x": 480,
        "y": 520,
        "wires": []
    },
    {
        "id": "e1291e050ce10710",
        "type": "mqtt out",
        "z": "09e5639e281d28a7",
        "name": "",
        "topic": "team11/temp/set_range",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b3edb09988cfe770",
        "x": 490,
        "y": 480,
        "wires": []
    },
    {
        "id": "f5c823889c51c944",
        "type": "mqtt out",
        "z": "09e5639e281d28a7",
        "name": "",
        "topic": "team11/flag",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b3edb09988cfe770",
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "2078d59e929b138a",
        "type": "mqtt in",
        "z": "09e5639e281d28a7",
        "name": "",
        "topic": "team11/fish_tank_state/info",
        "qos": "0",
        "datatype": "auto",
        "broker": "b3edb09988cfe770",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "39db219dded74369"
            ]
        ]
    },
    {
        "id": "6bcd9bf91f7f33c7",
        "type": "inject",
        "z": "09e5639e281d28a7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "team11/fish_tank_state/info",
        "payload": "1",
        "payloadType": "str",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "39db219dded74369"
            ]
        ]
    }
]